.header_root {
  padding: 1rem 0;
  width: 100%;
  position: sticky;
  top: 0;
  backdrop-filter: blur(6px);
  background-color: transparent;
  z-index: 1;
}

.header {
  display: flex;
}

.header .header_blank {
  flex-grow: 1;
}

.header .profile {
  display: inline-flex;
  align-items: center;
  padding: 5px;
  margin-left: 5px;
  border-radius: 30px;
  border: 1px solid rgb(211, 230, 243);
}

.header .profile:hover {
  background-color: #ECEDF2;
}

.header .profile .state {
  position: relative;
  width: 8px;
  height: 8px;
  top: 10px;
  right: 8%;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(39, 206, 136);
}

.header .profile .name {
  margin-right: 5px;
  font-size: 13px;
  font-weight: 500;
  color: var(--text-grey-color);
}

.menuitemTitle {
  font-size: 13px;
  font-weight: 500;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}