.side_bar {
  height: 100%;
  position: fixed;
  width: 280px;
  background-color: var(--white-color);
}

.side_bar_top {
  display: flex;
  align-items: center;
  padding: 24px 16px 8px 32px;
  height: 70px;
}

.menuContent_logo {
  display: flex;
  align-items: center;
}

.logo {
  color: #2499ef;
}

.logo_text {
  padding-left: 8px;
  font-weight: 700;
  font-size: 20px;
}

.side_bar_menu {
  overflow-x: hidden;
  overflow-y: hidden;
  height: calc(100% - 70px);
  padding: 0px 16px;
  transition: all 1s ease;
}

.side_bar_menu:hover {
  overflow-y: scroll;

}

.side_bar_menu::-webkit-scrollbar {
  width: 10px;
  height: 100%;
}

.side_bar_menu::-webkit-scrollbar-thumb {
  background: var(--scroll-grey-color);
  border-radius: 10px;
}

.side_bar_menu::-webkit-scrollbar-track {
  background: none;
}

.side_bar_menu button {
  width: 100%;
}

.side_bar_menu .menu_title {
  font-weight: 700;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 28px;
  margin-bottom: 10px;
  color: var(--text-grey-color);
}

.side_bar_menu .menu_item {
  height: 44px;
  padding: 0px 36px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  color: var(--text-grey-color);
}

.side_bar_menu .menu_item:hover {
  background-color: var(--grey-color);
}

.side_bar_menu .menu_item span {
  margin-left: 10px;

}

.side_bar_menu .active .menu_item {
  color: var(--more-blue-color);
  background-color: var(--background-blue-color);
  font-weight: bold;
}