server:
  port: 8080 #port number
  servlet:
    context-path: /
    encoding:
      charset: UTF-8
      enabled: true
      force: true
spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver #maria DB 사용
    url: jdbc:mariadb://localhost:3306/vantage
    username: root
    password: 2487
  jpa:
    open-in-view: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        show_sql: false
        format_sql: true
        highlight_sql: true
logging:
  pattern:
    console: "[%d{HH:mm:ss.SSS}][%-5level][%logger.%method:line%line] - %msg%n"
  level:
    org:
      hibernate:
        SQL: debug
        type.descriptor.sql: trace
jwt:
  secret: DadFufN4Oui8Bfv3S24WqR9fyJ9hD45E6AGQEasFsRhT4YSdSb