.main {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Profile */

.main .profile {
  background-color: var(--white-color);
  box-shadow: var(--shadow);
  overflow: hidden;
  border-radius: 8px;
}

.main .profile .profile-image {
  height: 200px;
  width: 100%;
  overflow: hidden;
  z-index: 2; /* Header z-index: 1*/
}

.main .profile .profile-description {
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.main .profile .profile-description .user {
  display: flex;
  top: -20px;
  position: relative;
  align-items: center;
}

.main .profile .profile-description .user .name {
  margin-left: 24px;
  margin-top: 24px;
}

.main .profile .profile-description .user .name h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}

.main .profile .profile-description .blank {
  flex-grow: 1;
}

.main .profile .profile-description .information {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main .profile .profile-description .information div {
  display: flex;
  align-items: center;
  margin-right: 40px;
  color: var(--text-grey-color);
}

.main .profile .profile-description .information div span {
  margin-left: 5px;
}

/* overview */

.main .overview {
  display: flex;
}

.main .overview .userOverview {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.main .overview .userProgress {
  width: 75%;
  display: flex;
  flex-flow: wrap;
  margin-bottom: 24px;
}

