/* Next.js Link 가져와서 해야할 것 
 1. 사이드 메뉴 눌렀을 때 active처리로 color 바뀌는 것 구현
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

:root {
  --blue-color: #3fa5f0;
  --more-blue-color: rgb(36, 153, 239);
  --background-blue-color: rgb(242, 249, 254);
  --grey-color: #f3f4f9;
  --text-grey-color: rgb(77, 95, 116);
  --scroll-grey-color: #bfc7d1;
  --white-color: white;
  --black-color: black;
  --gradation-color: linear-gradient(rgba(0,172,255,0.46) 0%,rgba(189,0,255,0.345) 100%);

  --shadow: rgba(95, 116, 141, 0.03) 0px 2px 1px -1px, 
  rgba(95, 116, 141, 0.04) 0px 1px 1px 0px, 
  rgba(95, 116, 141, 0.08) 0px 1px 3px 0px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: var(--grey-color);
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer
}


a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

.wrap_root {
  width: 100%;
  height: 100vh;
}

